/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Open+Sans:wght@300;400&display=swap');

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global styles  */

.App {
  min-height: 100vh;
  background-color: blueviolet;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  min-height: 100vh;
  color: #fff;
  overflow-y: auto;
}

.card-layout {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}
